<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pojišťák.NET</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PojistakNET.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark text-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand me-3" asp-area="" asp-controller="Home" asp-action="Insurer">Pojišťák.NET</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between offset-md-1">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @(Context.Request.Path.Value == "/" || Context.Request.Path.Value?.Contains("Insurer") == true ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Insurer">Pojištěnci</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(Context.Request.Path.Value?.Contains("Insurance") == true ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Insurance">Pojištění</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(Context.Request.Path.Value?.Contains("Events") == true ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Events">Události</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(Context.Request.Path.Value?.Contains("About") == true ? "active" : "")" asp-area="" asp-controller="Home" asp-action="About">O aplikaci...</a>
                        </li>
                        @*
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form method="post" asp-area="" asp-controller="Account" asp-action="Logout">
                                <button type="submit">Logout</button>
                            </form>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Login">Login</a>
                        }
                        *@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Pojišťák.NET
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
