
@{
    ViewData["Title"] = "Smazání pojištěnce";
}

@model PojistakNET.Models.Insurer

<div asp-validation-summary="All" class="text-danger"></div>


<h2>Smazání pojištěnce</h2>

<h3>Jste si jisti, že chcete smazat tohoto pojištěnce?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">Jméno:</dt>
        <dd class="col-sm-10">@Model.FirstName</dd>
        <dt class="col-sm-2">Přijmení:</dt>
        <dd class="col-sm-10">@Model.LastName</dd>
        <dt class="col-sm-2">Email:</dt>
        <dd class="col-sm-10">@Model.Email</dd>
    </dl>

    <form asp-action="Delete" asp-controller="Home" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Potvrdit smazání</button>
        <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Storno</a>
    </form>
</div>
